body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.grid{
    display: grid;
    grid-template-rows: 30vh 70vh;
    grid-template-columns: 70% 30%;
    gap: 5px;
    height: 100vh;
    width: 100%

}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 100vh;
}

.item:nth-child(1){
    grid-row: 1;
    grid-column: 1 / span 2;
    height: 30vh;
    background-color: #b7b4b4;
}

.item:nth-child(2){
    grid-row: 2;
    grid-column: 1;
    height: 68vh;
    background-color: #b7b4b4;
}

.item:nth-child(3){
    grid-row: 2;
    grid-column: 2;
    height: 68vh;
    background-color: #b7b4b4;
}

.item span{
    font-size: 24px;
}