body{
    margin: 0;
}
header, footer{
    height: 10vh;
    background: #D9D9D9;
}

section{
    height: 20vh;
    background: #C2C4AC;
}

div{
    height: 60vh;
    display: flex;
}

#rectangle_1{
    height: 60vh;
    width: 20vw;
    background: #9EA087;
}

#rectangle_2{
    height: 60vh;
    width: 60vw;
    background: #78786F;
}

#rectangle_3{
    height: 60vh;
    width: 20vw;
    background: #9EA087;
}