@media screen and (min-width: 600px) and (max-width: 1200px){

}

body{
    height: 100vh;
    margin: 0;
    width: 100%;
}

#links{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

button{
    background-color: #76abf6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 5px;
    border: none;
    font-size:20px;
    color: midnightblue;
}

a{
    text-decoration: none;
    margin: 2px 2px 2px 2px;
}

#button_2{
    margin-right: 5px;
    margin-left: 5px;
}

#button_3{
    margin-right: 5px;
}

#header{
    height: 30vh;
    width: 100%;
    background-color: #76abf6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    font-size:30px;
}

#flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    gap: 5px;
    width: 100%;
}

#column_1,
#column_2 {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 50%;
}

#column_1 > div,
#column_2 > div {
    flex: 1;
    height: 45vh;
    background-color: #76abf6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

#1,
#2,
#3,
#4 {
    height: 100%;
    background-color: #76abf6;
}


#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #76abf6;
    font-size:25px;
}

