
body{
    height: 100vh;
    margin: 2px 2px 2px 2px;
}

header{
    height:20vh;
    background-color: #beb6b6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

#flex{
    height:80vh;
    display: flex;
    background-color: white;
    margin-top:2px;
}


#block_1{
    width: 60vw;
    height: 40vh;
    background-color: #beb6b6;
    display: flex;
    flex-wrap: wrap;
    margin: 2px 0 2px 2px;
}

#B{
    width: 60vw;
    height: 40vh;
    background-color: #beb6b6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-bottom:2px;
}

#C{
    width: 33.3%;
    height: 40vh;
    background-color: #beb6b6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

#D{
    width: 33.3%;
    height: 40vh;
    background-color: #beb6b6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

}

#E{
    width: 33.3%;
    height: 40vh;
    background-color: #beb6b6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

}

#block_2{
    width: 40vw;
    height: 80vh;
    background-color: #beb6b6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 2px 0 2px 2px;
}

#F{
    width: 40vw;
    height: 80vh;
    background-color: #beb6b6;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}