body{
    height:100vh;
}

#block_1 ol li:nth-child(even){
    color: #f50988;
}

#block_2 ol li:nth-child(odd){
    font-size: 22px;
}

#block_3 ol li:nth-child(2n+4)::after{
    content: "!";
}

#block_4 ol li:nth-child(12n){
    color: #db04fc;
}

#block_5 ol li:first-letter{
    color: red;
    font-size: 30px;

}